<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejercicio_Lunes_Repaso_ADO.Properties.Settings.Ejercicio_Repaso_Lunes_ADOConnectionString"
            connectionString="Data Source=CADAVILES10\SQLEXPRESS;Initial Catalog=Ejercicio_Repaso_Lunes_ADO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>