<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Primeros_ADO.Properties.Settings.prueba_adoConnectionString"
            connectionString="Data Source=CADAVILES10\SQLEXPRESS;Initial Catalog=prueba_ado;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>