<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ejercicio_Listado_de__Alumnos.Properties.Settings.Ejercicio_Listado_de_AlumnosConnectionString"
            connectionString="Data Source=CADAVILES10\SQLEXPRESS;Initial Catalog=Ejercicio_Listado_de_Alumnos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>